@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  @apply scrollbar-thin scrollbar-track-transparent scrollbar-thumb-primary;
}
#Colosseum_2 {
  --parallax-speed: 90;
  animation: parallax linear;
  animation-timeline: scroll();
}

#Flyff_2 {
  --parallax-speed: 150;
  animation: parallax linear;
  animation-timeline: scroll();
}

#Magician_F_3 {
  --parallax-speed: 25;
  animation: parallax linear;
  animation-timeline: scroll();
}

#Crackshooter_F {
  --parallax-speed: 25;
  animation: parallax linear;
  animation-timeline: scroll();
}
#CoralIsland_4 {
  --parallax-speed: 25;
  animation: parallax linear;
  animation-timeline: scroll();
}

@keyframes parallax {
  to {
    transform: translateY(calc(var(--parallax-speed) * 1%));
  }
}
